<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".RozmovaApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rozmova"
        tools:targetApi="31">
        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false" />
<!--        &lt;!&ndash; Required: set your sentry.io project identifier (DSN) &ndash;&gt;-->
<!--        <meta-data android:name="io.sentry.dsn" android:value="https://2f208e0f457154130d4569b7c1326ef4@o4509570570649600.ingest.de.sentry.io/4509570577072208" />-->

<!--        &lt;!&ndash; Add data like request headers, user ip adress and device name, see https://docs.sentry.io/platforms/android/data-management/data-collected/ for more info &ndash;&gt;-->
<!--        <meta-data android:name="io.sentry.send-default-pii" android:value="true" />-->

<!--        &lt;!&ndash; enable automatic breadcrumbs for user interactions (clicks, swipes, scrolls) &ndash;&gt;-->
<!--        <meta-data android:name="io.sentry.traces.user-interaction.enable" android:value="true" />-->
<!--        &lt;!&ndash; enable screenshot for crashes &ndash;&gt;-->
<!--        <meta-data android:name="io.sentry.attach-screenshot" android:value="true" />-->
<!--        &lt;!&ndash; enable view hierarchy for crashes &ndash;&gt;-->
<!--        <meta-data android:name="io.sentry.attach-view-hierarchy" android:value="true" />-->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Rozmova"
            tools:ignore="RedundantLabel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
